@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.fs-7 {
  font-size: calc(var(--bs-body-font-size) * .875);
}

.fs-8 {
  font-size: calc(var(--bs-body-font-size) * .75);
}

.weather-details-wrapper {
  gap: .5rem;
}